home {
  .home {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  
  .home__container {
    width: 1170px;
    min-height: 500px;
  }
  
  .home__header--title {
    font-size: 30px;
    font-weight: 600;
    color: #1F2D30;
    margin-bottom: 10px;
  }
  
  .home__header--text {
    font-size: 14px;
    font-weight: 400;
    color: #1F2D30;
  }
  
  @media screen and (max-width: 768px) {
    .home {
      display: block;
      padding: 0 14px;
    }
  
    .home__container {
      width: 100%;
      min-height: 200px;
      display: flex;
    }
  }
  
}