<div class="favorites">
	<div class="favorites__container">
		<div class="favorites__header">
			<h1 class="favorites__header--title">Bolsas favoritas</h1>
			<p class="favorites__header--text">Adicione bolsas de cursos e faculdade do seu interesse e receba atualizações com as melhores ofertas diponíveis.</p>
		</div>
		
		<buttons-filter></buttons-filter>
		
		<div class="favorites__content">
			<div class="favorites__content-button-add">
				<add-to-favorites-button> </add-to-favorites-button>
			</div>
			<div class="favorites__content-list"></div>
		</div>
	</div>
</div>