favorites {
  .favorites {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  
  .favorites__container {
    width: 1170px;
  }
  
  .favorites__header--title {
    font-size: 30px;
    font-weight: 600;
    color: #1F2D30;
    margin-bottom: 10px;
  }
  
  .favorites__header--text {
    font-size: 14px;
    font-weight: 400;
    color: #1F2D30;
  }
  
}