favorites {
  .favorites {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  
  .favorites__container {
    width: 1170px;
  }
  .favorites__header {
    padding: 0 12px;
  }
  
  .favorites__header--title {
    font-size: 30px;
    font-weight: 600;
    color: #1F2D30;
    margin-bottom: 10px;
  }
  
  .favorites__header--text {
    font-size: 14px;
    font-weight: 400;
    color: #1F2D30;
  }
  
  .favorites__content {
    margin-top: 30px;
    padding-bottom: 20px;
  }
  
  .favorites__content-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 27px;
    padding: 0 12px;
    
    &.favorites__content-list-loading {
      grid-template-columns: 1fr;
    }
  }
  
  .favorites__content-list-loading-text {
    height: 400px;
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 30px;
    align-items: center;
    
  }
  
  @media screen and (max-width: 768px) {
    .favorites {
      padding: 0 20px;
    }
    .favorites__container {
      width: 100%;
    }
    
    .favorites__header {
      padding: 0;
    }
    
    .favorites__content-list {
      grid-template-columns: 1fr;
    }
    
  }
  
}