search-result-card {
  
  .search-result-card {
    cursor: pointer;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.5fr 1.6fr 5fr 2fr;
    padding: 13px 0;
    align-items: center;
    border-bottom: 1px solid #DCDCDC;
  }
  
  .search-result-card__type--text-one, .search-result-card__type--text-two {
    font-size: 14px;
  }
  .search-result-card__type--text-one {
    
    font-weight: 700;
    color: #18acc4;
  }
  .search-result-card__type--text-two {
    margin-top: 5px;
    font-weight: 400;
    color: #1F2D30;
  }
  
  .search-result-card__logo--img {
    width: 60px;
  }
  
  .search-result-card__price-discount {
    font-size: 14px;
    color: #1F2D30;
    margin-bottom: 5px;
  }
  
  .search-result-card__price-discount--span, .search-result-card__price-text {
    color: #0FA866;
    font-weight: 600;
    font-size: 14px;
  }
  
  @media screen and (max-width: 768px) {
    .search-result-card {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 0.5fr 1.6fr 5fr;
    }
    
    .search-result-card__check {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    .search-result-card__logo {
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
    }
    .search-result-card__type {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 1;
    }
    .search-result-card__price {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 3;
    }
  }
  
}