breadcrumbs {
  .breadcrumbs {
    width: 100%;
    flex-flow: column;
    align-items: center;
  }
  
  .breadcrumbs__container {
    width: 1170px;
    height: 30px;
    background: #a54a4e;
  }
  
  .breadcrumbs__ul {
  
  }
}