<div class="breadcrumbs">
	<div class="breadcrumbs__container">
		<ul class="breadcrumbs__ul">
			<li class="breadcrumbs__ul-item hidden-mb"><a href="" class="breadcrumbs__ul-item--link">Home</a></li>
			<li class="breadcrumbs__ul-item">
				<a ui-sref="welcome.favorites" class="breadcrumbs__ul-item--link"><span class="hidden-desktop"><i class="fa fa-chevron-left"></i></span><span class="hidden-desktop">&nbsp;&nbsp;</span><span>Minha conta</span></a></li>
			<li class="breadcrumbs__ul-item hidden-mb"><a href="" class="breadcrumbs__ul-item--link breadcrumbs__ul-item--link-active">Bolsas favoritas</a></li>
		</ul>
	</div>
</div>