header {
  .header {
    width: 100%;
  }
  
  .header__one, .header__two {
    display: flex;
    flex-flow: column;
    align-items: center;
    
  }
  
  .header__one {
    background: #FBFBFB;
  }
  
  .header__two {
    background: rgb(24,172,196);
    background: linear-gradient(0deg, rgba(24,172,196,1) 91%, rgba(0,135,141,1) 100%);
  }
  
  .header__container-one {
    width: 1170px;
    display: flex;
    height: 90px;
    justify-content: space-between;
      }
  .header__how-it-works {
    display: flex;
    align-items: center;
    padding: 0 30px 0 0;
    border-right: 5px solid #dcdcdc;
    margin: 15px;
  
  }
  .header__how-it-works--text {
  
  }
  
  .header-font-default {
    color: #18ACC4;
    font-weight: 700;
    font-size: 17px;
    display: flex;
    align-items: center;
  }
  
  .header__how-it-works--icon, .header__name-icon--icon {
    font-size: 23px;
  }
  
  .header__phone {
    padding:  0 0 0 30px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 22px 22px;
    align-items: center;
    align-content: center;
    position: relative;
    left: -134px;
  }
  
  .header__phone--icon {
    grid-row-start: 1;
    grid-row-end: 3;
    font-size: 40px;
    color: #0FA866;
  }
  
  .header__phone--number {
    background: #FBFBFB;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 18px;
    font-weight: 700;
    color: #007A8D;
  }
  .header__phone--text {
    grid-row-start: 2;
    grid-row-end: 2;
    font-size: 18px;
    font-weight: 700;
    color: #007A8D;
  }
  
  .header__logo {
    display: flex;
    flex-flow: column;
    justify-content: center;
    position: relative;
    left: -176px;
  }
  .header__logo--text-one, .header__logo--text-two {
    font-size: 35px;
    font-weight: 700;
  }
  .header__logo--text-one {
    color: #DE9E1F;
  }
  
  .header__logo--text-two {
    color: #007A8D;
  }
  .header__name-icon {
    display: flex;
    align-items: center;
  }
  
  .header__container-twe {
    width: 1170px;
  }
  
  .header__menu {
    height: 40px;
    display: flex;
    align-items: center;
  }
  
  .header__menu-ul {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  
  .header__menu-ul-item {
  
  }
  
  .header__menu-ul-item--link {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
  }
  
  .header__menu-ul-item--link:hover {
    background: #007A8D;
  }
  @media screen and (min-width: 769px) {
    .header__how-it-works--text-desk {
      display: block;
    }
    .header__how-it-works--text-mb {
      display: none;
    }
    .hidden-desktop {
      display: none;
    }
  }
  
  @media screen and (max-width: 768px) {
    
    .hidden-mb {
      display: none;
    }
    
    .hidden-desktop {
      display: block;
    }
    .header__how-it-works--text-desk {
      display: none;
    }
    .header__how-it-works--text-mb {
      display: block;
    }
    
    .header__one, .header__two {
      display: block;
      width: 100%;
    }
    
    .header__container-one {
      width: 100%;
      display: flex;
    }
    
    .header__container-twe {
      width: 100%;
      display: block;
    }
    
    .header__how-it-works, .header__logo, .header__name-icon {
      display: flex;
      height: 60px;
      text-align: center;
      margin: 15px
    }
    
    .header__how-it-works {
      text-align: center;
      padding: 0 20px 0 0;
      border-right: 3px solid #dcdcdc;
    }
    .header__logo {
      position: initial;
      
    }
    
    .header__name-icon {
      display: initial;
      padding-left: 20px;
      border-left: 3px solid #dcdcdc;
    }
    
    .header__menu {
      display: flex;
      width: 100%;
      height: 52px;
      justify-content: space-between;
    }
    
    .header__logo--text-one {
      font-size: 30px;
    }
    
    
    .header__menu-ul-item--link {
      padding: 17px;
      display: flex;
      font-size: 16px
    }
  
    .header__menu-ul-mb-btn {
      border: none;
      background: transparent;
      color: #FFF;
      font-size: 14px;
      font-weight: 700;
      display: flex;
    }
    .header__menu-ul-mb-btn--icon {
      color: #FFF;
      font-size: 22px;
      font-weight: 700;
    }
    .header__menu-ul-mb {
      padding-right: 10px;
    }
  }
  
}

