header {
  .header {
    width: 100%;
    background: #a54a4e;
  }
  
  .header__one, .header__two {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  
  .header__one {
    background: #FFF;
  }
  
  .header__two {
    background: rgb(24,172,196);
    background: linear-gradient(0deg, rgba(24,172,196,1) 91%, rgba(0,135,141,1) 100%);
  }
  
  .header__container-one {
    width: 1170px;
    display: flex;
    height: 70px;
    justify-content: space-between;
  }
  .header__how-it-works {
    background: #FBFBFB;
    display: flex;
    align-items: center;
    padding: 0 30px 0 0;
    border-right: 3px solid #FBFBFB;
  
  }
  .header__how-it-works--text {
  
  }
  
  .header-font-default {
    color: #18ACC4;
    font-weight: 700;
    font-size: 17px;
  }
  
  .header__how-it-works--icon, .header__name-icon--icon {
    font-size: 23px;
  }
  
  .header__phone {
    padding:  0 0 0 30px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
  }
  
  .header__phone--icon {
    grid-row-start: 1;
    grid-row-end: 4;
    font-size: 40px;
    color: #0FA866;
  }
  
  .header__phone--number {
    background: #FBFBFB;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: 18px;
    font-weight: 700;
    color: #007A8D;
  }
  .header__phone--text {
    grid-row-start: 2;
    grid-row-end: 2;
    font-size: 18px;
    font-weight: 700;
    color: #007A8D;
  }
  
  .header__logo {
    display: flex;
    flex-flow: column;
  }
  .header__logo--text-one, .header__logo--text-two {
    font-size: 35px;
    font-weight: 700;
  }
  .header__logo--text-one {
    color: #DE9E1F;
  }
  
  .header__logo--text-two {
    color: #007A8D;
  }
  .header__name-icon {
    display: flex;
    align-items: center;
  }
  
  .header__container-twe {
    width: 1170px;
  }
  
  .header__menu {
    height: 40px;
    display: flex;
    align-items: center;
  }
  
  .header__menu-ul {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  
  .header__menu-ul-item {
  
  }
  
  .header__menu-ul-item--link {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
  }
  
  .header__menu-ul-item--link:hover {
    background: #007A8D;
  }
  
}