<div class="button-filter">
	<button
		type="button"
		class="button-filter__default button-filter__second"
		ng-click="vm.filterBySemesterSecond({dates: {startDate: vm.DATES.SECOND_SEMESTER.START_DATE, endDate: vm.DATES.SECOND_SEMESTER.END_DATE}}); vm.activeButton('SECOND_SEMESTER')"
		ng-class="{'button-filter__default--active' : vm.BUTTON_ACTIVE.SECOND_SEMESTER}"
	>
		2° semestre 2019
	</button>
	<button
		type="button"
		class="button-filter__default button-filter__first"
		ng-click="vm.filterBySemesterFirst({dates: {startDate: vm.DATES.FIRST_SEMESTER.START_DATE, endDate: vm.DATES.FIRST_SEMESTER.END_DATE}}); vm.activeButton('FIRST_SEMESTER')"
		ng-class="{'button-filter__default--active' : vm.BUTTON_ACTIVE.FIRST_SEMESTER}"
	>
		1° semestre 2020
	</button>
	<button
		type="button"
		class="button-filter__default button-filter__all"
		ng-click="vm.showAll(); vm.activeButton('ALL')"
		ng-class="{'button-filter__default--active' : vm.BUTTON_ACTIVE.ALL}"
	
	>
		Todos os semestres
	</button>
</div>