<div class="footer">
	<div class="footer-container-one">
		<div class="footer-container-one__contact">
			<div class="footer-container-one__phone footer__grid">
				<div class="footer__grid-icon"><i class="fa fa-whatsapp"></i></div>
				<div class="footer__grid-text-one">0800 123 2222</div>
				<div class="footer__grid-icon-text-two">Seg - Sex 8h-22h</div>
			</div>
			<div class="footer-container-one__chat footer__grid">
				<div class="footer__grid-icon"><i class="fa fa-comments"></i></div>
				<div class="footer__grid-text-one">Chat ao vivo</div>
				<div class="footer__grid-icon-text-two">Seg - Sex 8h-22h</div>
			</div>
			<div class="footer-container-one__email footer-container-one__email--space-grid footer__grid">
				<div class="footer__grid-icon"><i class="fa fa-envelope"></i></div>
				<div class="footer__grid-text-one">Mande um e-mail</div>
				<div class="footer__grid-icon-text-two">Respondemos rapidinho</div>
			</div>
			<div class="footer-container-one__central footer-container-one__central--space-grid footer__grid">
				<div class="footer__grid-icon"><i class="fa fa-exclamation-circle"></i></div>
				<div class="footer__grid-text-one">Central de ajuda</div>
				<div class="footer__grid-icon-text-two">Encontre todas as resposta</div>
			</div>
		</div>
	</div>
	
	<div class="footer-container-two">
		<div class="footer-container-one__message">
			<div>Feito com <i class="fa fa-heart footer-container-one__message--icon"></i> pelo Quero Educação</div>
		</div>
	</div>
	
</div>