<div class="footer">
	<div class="footer-container-one">
		<div class="footer-container-one__contact">
			<div class="footer-container-one__phone footer__grid">
				<span class="footer__grid-icon"><i class="fa fa-whatsapp"></i></span>
				<span class="footer__grid-text-one">0800 123 2222</span>
				<span class="footer__grid-icon-text-two">Seg - Sex 8h-22h</span>
			</div>
			<div class="footer-container-one__chat footer__grid">
				<span class="footer__grid-icon"><i class="fa fa-comments"></i></span>
				<span class="footer__grid-text-one">Chat ao vivo</span>
				<span class="footer__grid-icon-text-two">Seg - Sex 8h-22h</span>
			</div>
			<div class="footer-container-one__email footer__grid">
				<span class="footer__grid-icon"><i class="fa fa-envelope"></i></span>
				<span class="footer__grid-text-one">Mande um e-mail</span>
				<span class="footer__grid-icon-text-two">Respondemos rapidinho</span>
			</div>
			<div class="footer-container-one__central footer__grid">
				<span class="footer__grid-icon"><i class="fa fa-exclamation-circle"></i></span>
				<span class="footer__grid-text-one">Central de ajuda</span>
				<span class="footer__grid-icon-text-two">Encontre todas as resposta</span>
			</div>
		</div>
	</div>
	
	<div class="footer-container-two">
		<div class="footer-container-one__message">
			<span>Feito com <i class="fa fa-heart footer-container-one__message--icon"></i> pelo Quero Educação</span>
		</div>
	</div>
	
</div>